%h1 Lessons 2019
%p This page leads you to some of the lessons I have learned.
%ul
  %li
    %a(href='/lessons/lessons2018') Lessons 2018 [ Some Broken by Now ]
  
  %li
    %a(href='/lessons/lesson012') Lesson 012 [ GCP Python API Intro ]
  
  %li
    %a(href='/lessons/lesson013') Lesson 013 [ Chrome, Google Drive, Python ]

  %li
    %a(href='/lessons/lesson014') Lesson 014 [ Chrome, APIs-Explorer: Google API Web-UI ]
    
  %li
    %a(href='/lessons/lesson015') Lesson 015 [ APIs-Explorer + Python + Google Sheets API ]
  