%h1#top Lesson 016 [ Part 2: Google Sheets API]

%p When I wrote Lesson 015 I found that setup of OAuth for Google APIs was tricky.

%p Google offers me many choices in several forms when I setup OAuth.

%p I start this lesson with a description of an OAuth path which worked well for me.

%p I started by visiting this URL:

%p
  %a(target='g' href='https://console.cloud.google.com/projectcreate') https://console.cloud.google.com/projectcreate

%p I saw this:

%img(src='/lesson016/lesson016a1.png')
%hr/

%p I filled out the form and clicked the blue-"Create" button:

%img(src='/lesson016/lesson016a2.png')
%hr/

%p After Google created the project, I selected it in the select-options at the top.

%p Google served me info about my new project; I saw this:

%img(src='/lesson016/lesson016a3.png')
%hr/

%p Next, I visited the URL listed below:
%p
  %a(target='g' href='https://console.cloud.google.com/apis/library') https://console.cloud.google.com/apis/library

%p I saw this:

%img(src='/lesson016/lesson016a4.png')
%hr/

%p In the lower-right I clicked the square named: "Google Sheets API"

%p I saw this:

%img(src='/lesson016/lesson016a5.png')
%hr/

%p I clicked the blue-"Enable" button.

%p I saw this:

%img(src='/lesson016/lesson016a6.png')
%hr/

%p I clicked the blue-"CREATE CREDENTIALS" button on the right side.

%p I saw this:

%img(src='/lesson016/lesson016a7.png')
%hr/

%p Below, I display forms I interacted with to setup OAuth for this lesson:

%img(src='/lesson016/lesson016b1.png')
%hr/

%img(src='/lesson016/lesson016b2.png')
%hr/

%img(src='/lesson016/lesson016b3.png')
%hr/

%img(src='/lesson016/lesson016b4.png')
%hr/

%img(src='/lesson016/lesson016b5.png')
%hr/

%img(src='/lesson016/lesson016b6.png')
%hr/

%img(src='/lesson016/lesson016b7.png')
%hr/

%img(src='/lesson016/lesson016b8.png')
%hr/

%img(src='/lesson016/lesson016b9.png')
%hr/

%p This form is simple yet tricky.

%p I only typed in two pieces of data:

%ul
  %li http://localhost:8080
  %li http://localhost:8080/

%p After I enter the second value, I MUST press the tab key so the form will accept it.

%p After I filled out the form correctly, I saw this:

%img(src='/lesson016/lesson016c1.png')
%hr/

%p I clicked the blue-"Create" button; I saw this:

%img(src='/lesson016/lesson016c2.png')
%hr/

%img(src='/lesson016/lesson016c3.png')
%hr/

%p Next, using the down-link on the right, I downloaded a JSON file which contains the credentials.

%p Then I copied the file to this path on my laptop:

%p ~/secret0612.json

%p The file looks like this:

.syntax
  %pre
    =render 'lesson016c4'

%p Next, I wrote a Python script to test the credentials:

.syntax
  %pre
    =render 'lesson016c5'

%p After I started the script it started a web-server and a browser on my laptop.

%p That server created an authentication session between the browser and a Google OAuth server.

%p After that session is established, Google will allow the Python script to use the Sheets-API.

%p I collected screens which appeared on my laptop as the authentication session was setup:

%img(src='/lesson016/lesson016c5.png')
%hr/

%img(src='/lesson016/lesson016c6.png')
%hr/

%img(src='/lesson016/lesson016c7.png')
%hr/

%img(src='/lesson016/lesson016c8.png')
%hr/

%p After the script ran, I noticed artifacts from its activity in the Shell window:

%img(src='/lesson016/lesson016c9.png')
%hr/

%p Next, I wrote a simple script to persist the OAuth session to a Python-pickle file:

.syntax
  %pre
    =render 'lesson016sheet12py'

%p Notice that the above script grants a wider scope to the session.

%p I collected screens which appeared on my laptop as the authentication session was setup:

%img(src='/lesson016/lesson016d1.png')
%hr/

%img(src='/lesson016/lesson016d2.png')
%hr/

%img(src='/lesson016/lesson016d3.png')
%hr/

%img(src='/lesson016/lesson016d4.png')
%hr/

%img(src='/lesson016/lesson016d5.png')
%hr/

%img(src='/lesson016/lesson016d6.png')
%hr/

%img(src='/lesson016/lesson016d7.png')
%hr/

%p Next, I wrote and ran a simple script to test the pickle file:

.syntax
  %pre
    =render 'lesson016sheet13py'

%p I saw this:

%img(src='/lesson016/lesson016d8.png')
%hr/

%p I visited the URL and saw this:

%img(src='/lesson016/lesson016d9.png')
%hr/

%p The above spreadsheet convinced me that the pickle file full of credentials worked well for me.

