%h1#top Lesson 012 [ GCP Python Library ]

%p I started this lesson by using a Chrome browser to login to my gmail account.

%p Next, to make Google happy, I pulled a credit-card out of my wallet.

%p Then, I tried to get the $300 GCP Free Trial:

%p
  %a(href="https://console.developers.google.com/freetrial") https://console.developers.google.com/freetrial


%p After some unfriendly behavior from the credit-card entry form, I got my $300 credit for GCP.

lesson012a.png

%p If you encounter problems with the credit-card entry form, complain to Google, maybe they will fix it.

%p After I clicked through the credit-card flow, I clicked on the icon for "Compute Engine".

lesson012b.png

%p GCP indicated that it needed time to "get ready".

%p It needed about 90 seconds to do that.

%p Then it offered me a screen to create a new VM-Instance.

lesson012c.png

%p I clicked the "quickstart" button.

%p A window appeared which offered informational links rather than a quick-start of a VM-Instance.

%p So, I dismissed the window and clicked the blue "Create" button.

%p It offered me a form allowing me to customize a new VM-Instance.

lesson012d.png


%p I assumed that the default selections were good enough and I clicked the blue "Create" button.




