%h1#top Lesson 015 [ Chrome, APIs-Explorer: Google Sheets ]

%p I started at the URL listed below:

%p
  %a(target='g' href='https://console.cloud.google.com/apis/library/sheets.googleapis.com')
    https://console.cloud.google.com/apis/library/sheets.googleapis.com

%p I saw this:

%img(src='/lesson015/lesson015a.png')
%hr/

%p I clicked the blue-"ENABLE" button.

%p After a minute, I visited the URL listed below:

%p
  %a(target='g' href='https://developers.google.com/apis-explorer/#p/sheets/v4/')
    https://developers.google.com/apis-explorer/#p/sheets/v4/

%p I saw this:

%img(src='/lesson015/lesson015b.png')
%hr/

%p I clicked the link: "sheets.spreadsheets.create".

%p I saw this:

%img(src='/lesson015/lesson015c.png')
%hr/

%p I clicked the link: "Use fields editor".

%p After I checked two boxes I saw this:

%img(src='/lesson015/lesson015d.png')
%hr/

%p I clicked the blue-"Close" button.
%p I clicked the blue-"Authorize and execute" button.

%p I saw this:

%img(src='/lesson015/lesson015e.png')
%hr/

%p Again, I clicked the blue-"Authorize and execute" button.

%p I saw this:

%img(src='/lesson015/lesson015f.png')
%hr/

%p I clicked the URL displayed in the response:

%p
  %a(target='g' href='https://docs.google.com/spreadsheets/d/1Jbfy_6D_9ydvt29xd1X3CSobA04upGt53RfT1ovXvUY/edit')
    https://docs.google.com/spreadsheets/d/1Jbfy_6D_9ydvt29xd1X3CSobA04upGt53RfT1ovXvUY/edit

%p Google served me a spreadsheet with name: "Untitled spreadsheet":

%img(src='/lesson015/lesson015g.png')
%hr/

%p I returned to the URL listed below:
%p
  %a(target='g' href='https://developers.google.com/apis-explorer/#p/sheets/v4/')
    https://developers.google.com/apis-explorer/#p/sheets/v4/

%p I clicked the link: "sheets.spreadsheets.get".

%p After I entered the spreadsheet ID, I saw this:

%img(src='/lesson015/lesson015h.png')
%hr/

%p I clicked the blue-"Authorize and execute" button.

%p I saw this:

%img(src='/lesson015/lesson015i.png')
%hr/

%p I understood then two interactions with the API Explorer for Google-sheets:
%ul
  %li How to Create a sheet
  %li How to List a sheet
  
%p I still wanted to learn about these interactions:
%ul
  %li How to Update a sheet
  %li How to Copy a sheet
  %li How to Delete a sheet

%p Additionally I wanted to learn about:
%ul
  %li Create
  %li Copy
  %li List
  %li Update
  %li Delete

%p Against, rows, columns, cells, data connections and permissions.