%h1#top Lesson 014 [ Chrome, Google API Web-UI ]

%p Google offers many online products.

%p Perhaps the most used product is Gmail.

%p Most people use a browser to interact with the products.

%p But Google allows us to write software which can interact with the products via Google APIs.

%p When I write software to interact with a Google API, I often encounter syntax, "How-to" questions.

%p Google offers a Google API Web-UI which I see as a tool I can use to answer "How-to" questions.

%p This page offers some information I learned while training myself to use this API Web-UI tool.

%p I started this lesson by logging into Gmail.

%p Next, I visited the URL listed below:

%a(target='g' href='https://console.developers.google.com') https://console.developers.google.com

%p To be continued ........
