%h1#top Lesson 015 [ Chrome, APIs-Explorer: Google Sheets ]

%p I started at the URL listed below:

%p
  %a(target='g' href='https://console.cloud.google.com/apis/library/sheets.googleapis.com')
    https://console.cloud.google.com/apis/library/sheets.googleapis.com

%p I saw this:

%img(src='/lesson015/lesson015a.png')
%hr/

%p I clicked the blue-"ENABLE" button.

%p After a minute, I visited the URL listed below:

%p
  %a(target='g' href='https://developers.google.com/apis-explorer/#p/sheets/v4/')
    https://developers.google.com/apis-explorer/#p/sheets/v4/

%p I saw this:

%img(src='/lesson015/lesson015b.png')
%hr/

%p I clicked the link: "sheets.spreadsheets.create".

%p I saw this:

%img(src='/lesson015/lesson015c.png')
%hr/
