%h1#top Lesson 017 [ Service Accounts + G Drive + Google Sheets ]

%p When I wrote the previous lessons, I learned that dealing with OAuth can be confusing.

%p Google offers a feature which simplifies the setup and operation of OAuth.

%p I remember the feature as: "Service Accounts".

%p In class I usually explain that a Service Account is like a Gmail Account but easier for Python scripts to interact with.

%p A drawback, however, is that a file or spreadsheet created by a Service Account is hidden to my browser by default.

%p If I want to see a hidden file or spreadsheet in my browser I need to run Python syntax to enhance the permissions of the file or spreadsheet.

%p I started this lesson by logging into my Gmail Account.

%p Next, I visited the URL listed below:

%p
  %a(target='g' href='https://console.cloud.google.com/iam-admin/serviceaccounts')
    https://console.cloud.google.com/iam-admin/serviceaccounts

%p Google served me a page asking that I select one of the projects I had created earlier:

%img(src='/lesson017/page10a.png')
%hr/

%p For training, I had created "dan-project2", so I picked that project.

%img(src='/lesson017/page10b.png')
%hr/

%img(src='/lesson017/page10c.png')
%hr/

%p In the above page, Google offered a link: "CREATE SERVICE ACCOUNT".

%p I clicked that link.

%p Google served me a form:

%img(src='/lesson017/page10d.png')
%hr/

%p I filled out the form using this string: "training-srv-acct":

%img(src='/lesson017/page10e.png')
%hr/

%p I clicked the blue-"CREATE" button.

%p Google responded with a form asking me to "Select a role":

%img(src='/lesson017/page10f.png')
%hr/

%p I selected role: "Project Owner" which is the most powerful role available.

%p Google responded with a page:

%img(src='/lesson017/page10g.png')
%hr/

%p With the powerful training-srv-acct created, I next wanted to create a JSON file usable by Python scripts to act as training-srv-acct.

%p I visited the URL listed below:


