%h1#top Lesson 013 [ Chrome, Google Drive, Python ]

%p Google Drive is a Google service inside of "G Suite".

%p G Suite is attractive to developers because, unlike GCP, I can avoid giving my credit card info to Google.

%p I started this lesson by using a Chrome browser to login to my gmail account.

%p I visited the URL listed below:

%p
  %a(href='https://console.developers.google.com') https://console.developers.google.com

%p The page wanted me to create a project.

%p So, I created a project and waited two minutes for the project to appear:

%img(src='/lesson013/lesson013g.png')
%hr/

%p On the left, I clicked the Library link.

%p Google served me the Library-page:

%img(src='/lesson013/lesson013h.png')
%hr/

%p At the lower left I clicked the square: "Google Drive API".

%p Google served me a page:

%img(src='/lesson013/lesson013i.png')
%hr/

%p I clicked the blue-button: "ENABLE".

%p Google enabled the API for me and then served me a page:

%img(src='/lesson013/lesson013j.png')
%hr/

%p I clicked the blue-button: "CREATE CREDENTIALS".

%p Google served me a form:

%img(src='/lesson013/lesson013k.png')
%hr/


%p I interacted with the form to get a JSON file containing credentials:

%img(src='/lesson013/lesson013l.png')
%hr/

%img(src='/lesson013/lesson013m.png')
%hr/

%img(src='/lesson013/lesson013n.png')
%hr/

%img(src='/lesson013/lesson013o.png')
%hr/

%p In my Downloads folder, I copied the JSON file to a file with a shorter name:

.syntax
  %pre
    %code.bash
      cd ~/Downloads
      cp dan-project1-ea3472a42678.json credientials.json

