%h1#top Lesson 017 [ Service Accounts + G Drive + Google Sheets ]

%p When I wrote the previous lessons, I learned that dealing with OAuth can be confusing.

%p Google offers a feature which simplifies the setup and operation of OAuth.

%p I remember the feature as: "Service Accounts".

%p In class I usually explain that a Service Account is like a Gmail Account but easier for Python scripts to interact with.

%p A drawback, however, is that a file or spreadsheet created by a Service Account is hidden to my browser by default.

%p If I want to see a hidden file or spreadsheet in my browser I need to run Python syntax to enhance the permissions of the file or spreadsheet.

%p I started this lesson by logging into my Gmail Account.

%p Next, I visited the URL listed below:

