%h1#top Lesson 013 [ Chrome, Google Drive, Python ]

%p Google Drive is a Google service inside of "G Suite".

%p G Suite is attractive to developers because, unlike GCP, I can avoid giving my credit card info to Google.

%p I did this lesson using a Linux account inside a laptop.

%p If you want to try this lesson using an account on a Mac, it might work because Mac-OS is sometimes similar to Linux.

%p If you want to try this lesson using an account on windows, good luck.

%p I know that I can run both Chrome and Python on windows so it seems possible that I might be able to do this lesson on windows.

%p I suspect that I'd need to enhance the Python scripts listed below in order to make them work on windows.

%p Another approach I'd take, if I only have windows, is to use windows to connect a chrome-GCP-GCE terminal to a Linux account running inside GCP-GCE.

%p A problem with that approach is that I need a GCP account and that requires a credit card but only costs $0.03 per hour.

%p I have a credit card so that approach works well for me.

%p If you want to try that approach, I help you get a chrome-GCP-GCE terminal if you study the first half the previous lesson:

%p
  %a(href='/lessons/lesson012') Lesson 012

%p Anyway, with my Linux account, I started this lesson by using a Chrome browser to login to my gmail account.

%p I visited the URL listed below:

%p
  %a(href='https://console.developers.google.com') https://console.developers.google.com

%p The page wanted me to create a project.

%p So, I created a project and waited two minutes for the project to appear:

%img(src='/lesson013/lesson013g.png')
%hr/

%p On the left, I clicked the Library link.

%p Google served me the Library-page:

%img(src='/lesson013/lesson013h.png')
%hr/

%p At the lower left I clicked the square: "Google Drive API".

%p Google served me a page:

%img(src='/lesson013/lesson013i.png')
%hr/

%p I clicked the blue-button: "ENABLE".

%p Google enabled the API for me and then served me a page:

%img(src='/lesson013/lesson013j.png')
%hr/

%p I clicked the blue-button: "CREATE CREDENTIALS".

%p Google served me a form:

%img(src='/lesson013/lesson013k.png')
%hr/


%p I interacted with the form to get a JSON file containing credentials:

%img(src='/lesson013/lesson013l.png')
%hr/

%img(src='/lesson013/lesson013m.png')
%hr/

%img(src='/lesson013/lesson013n.png')
%hr/

%img(src='/lesson013/lesson013o.png')
%hr/

%p In my Downloads folder, I copied the JSON file to a file with a shorter name:

.syntax
  %pre
    %code.bash
      cd ~/Downloads
      cp dan-project1-ea3472a42678.json drivecred.json
      
%p Also, I copied drivecred.json to my home-folder:

.syntax
  %pre
    %code.bash
      cp ~/Downloads/drivecred.json ~
      
%p All Python scripts in this lesson assume drivecred.json is in "~/" folder.

