%h1#top Lesson 017 [ Service Accounts + G Drive + Google Sheets ]

%p When I wrote the previous lessons, I learned that dealing with OAuth can be confusing.

%p Google offers a feature which simplifies the setup and operation of OAuth.

%p I remember the feature as: "Service Accounts".

%p In class I usually explain that a Service Account is like a Gmail Account but easier for Python scripts to interact with.

%p A drawback, however, is that a file or spreadsheet created by a Service Account is hidden to my browser by default.

%p If I want to see a hidden file or spreadsheet in my browser I need to run Python syntax to enhance the permissions of the file or spreadsheet.

%p I started this lesson by logging into my Gmail Account.

%p Next, I visited the URL listed below:

%p
  %a(target='g' href='https://console.cloud.google.com/iam-admin/serviceaccounts')
    https://console.cloud.google.com/iam-admin/serviceaccounts

%p Google served me a page asking that I select one of the projects I had created earlier:

%img(src='/lesson017/page10a.png')
%hr/

%p For training, I had created "dan-project2", so I picked that project.

%img(src='/lesson017/page10b.png')
%hr/

%img(src='/lesson017/page10c.png')
%hr/

%p In the above page, Google offered a link: "CREATE SERVICE ACCOUNT".

%p I clicked that link.

%p Google served me a form:

%img(src='/lesson017/page10d.png')
%hr/

%p I filled out the form using this string: "training-srv-acct":

%img(src='/lesson017/page10e.png')
%hr/

%p I clicked the blue-"CREATE" button.

%p Google responded with a form asking me to "Select a role":

%img(src='/lesson017/page10f.png')
%hr/

%p I selected role: "Project Owner" which is the most powerful role available.

%p Google responded with a page:

%img(src='/lesson017/page10g.png')
%hr/

%p With the powerful training-srv-acct created, I next wanted to create a JSON file, containing "credentials", usable by Python scripts to act as training-srv-acct.

%p I will show you the contents of the file soon.

%p Anyway, I visited the URL listed below:

%p
  %a(target='g' href='https://console.cloud.google.com/apis/credentials')
    https://console.cloud.google.com/apis/credentials

%p I saw this:

%img(src='/lesson017/page10h.png')
%hr/

%p I clicked the blue-"Create credentials" button.

%p Google responded with a form:

%img(src='/lesson017/page10i.png')
%hr/

%p I selected an option: "Service account key".

%p Google responded with a form asking which service account I wanted a key for:

%img(src='/lesson017/page10j.png')
%hr/

%p I selected the Service account I had just created, "training-srv-acct":

%img(src='/lesson017/page10k.png')
%hr/

%p Google created a key, placed it in a JSON file, and then copied that file into my ~/Downloads folder:

%img(src='/lesson017/page10l.png')
%hr/

%p I copied the file with a bash command to a better place:

.syntax
  %pre
    %code cp ~/Downloads/dan-project2-c5349542b7b4.json ~/secret0616.json

%p I used cat to look at the file:

.syntax
  %pre
    =render 'lesson017_secret0616'