%h1#top Lesson 013 [ Chrome, Google Drive, Python ]

%p Google Drive is a Google service inside of "G Suite".

%p G Suite is attractive to developers because, unlike GCP, I can avoid giving my credit card info to Google.

%p I started this lesson by using a Chrome browser to login to my gmail account.

%p I visited the URL listed below:

%p
  %a(href='https://console.developers.google.com') https://console.developers.google.com

%p The page wanted me to create a project.

%p So, I created a project and waited two minutes for the project to appear:

%img(src='/lesson013/lesson013g.png')
%hr/

%p On the left, I clicked the Library link.

%p Google served me the Library-page:

%img(src='/lesson013/lesson013h.png')
%hr/

%p At the lower left I clicked the square: "Google Drive API".

%p Google served me a page:

%img(src='/lesson013/lesson013i.png')
%hr/

%p I clicked the blue-button: "ENABLE".

%p Google served me a page:

%img(src='/lesson013/lesson013j.png')
%hr/
