%h1#top Lesson 015 [ Chrome, APIs-Explorer: Google Sheets ]

%p I started at the URL listed below:

%p
  %a(target='g' href='https://console.cloud.google.com/apis/library/sheets.googleapis.com')
    https://console.cloud.google.com/apis/library/sheets.googleapis.com

%p I saw this:

%img(src='/lesson015/lesson015a.png')
%hr/

%p I clicked the blue-"ENABLE" button.

%p After a minute, I visited the URL listed below:

%p
  %a(target='g' href='https://developers.google.com/apis-explorer/#p/sheets/v4/')
    https://developers.google.com/apis-explorer/#p/sheets/v4/

%p I saw this:

%img(src='/lesson015/lesson015b.png')
%hr/

%p I clicked the link: "sheets.spreadsheets.create".

%p I saw this:

%img(src='/lesson015/lesson015c.png')
%hr/

%p I clicked the link: "Use fields editor".

%p After I checked two boxes I saw this:

%img(src='/lesson015/lesson015d.png')
%hr/

%p I clicked the blue-"Close" button.
%p I clicked the blue-"Authorize and execute" button.

%p I saw this:

%img(src='/lesson015/lesson015e.png')
%hr/

%p Again, I clicked the blue-"Authorize and execute" button.

%p I saw this:

%img(src='/lesson015/lesson015f.png')
%hr/

%p I noticed that the URL is derived from the ID.

%p I clicked the URL displayed in the response:

%p
  %a(target='g' href='https://docs.google.com/spreadsheets/d/1Jbfy_6D_9ydvt29xd1X3CSobA04upGt53RfT1ovXvUY/edit')
    https://docs.google.com/spreadsheets/d/1Jbfy_6D_9ydvt29xd1X3CSobA04upGt53RfT1ovXvUY/edit

%p Google served me a spreadsheet with name: "Untitled spreadsheet":

%img(src='/lesson015/lesson015g.png')
%hr/

%p I returned to the URL listed below:
%p
  %a(target='g' href='https://developers.google.com/apis-explorer/#p/sheets/v4/')
    https://developers.google.com/apis-explorer/#p/sheets/v4/

%p I clicked the link: "sheets.spreadsheets.get".

%p After I entered the spreadsheet ID, I saw this:

%img(src='/lesson015/lesson015h.png')
%hr/

%p I clicked the blue-"Authorize and execute" button.

%p I saw this:

%img(src='/lesson015/lesson015i.png')
%hr/

%p I understood then, two interactions with the API Explorer for Google-sheets:
%ul
  %li How to Create a spreadsheet
  %li How to List a spreadsheet
  
%p I still wanted to learn about these interactions:
%ul
  %li How to Update a spreadsheet
  %li How to Copy a spreadsheet
  %li How to Delete a spreadsheet

%p Additionally I wanted to learn about:
%ul
  %li Create
  %li Copy
  %li List
  %li Update
  %li Delete

%p Against, sheets, rows, columns, cells, data connections and permissions.

%p I returned to the URL listed below:
%p
  %a(target='g' href='https://developers.google.com/apis-explorer/#p/sheets/v4/')
    https://developers.google.com/apis-explorer/#p/sheets/v4/

%p I looked for a link named: "sheets.spreadsheets.update".

%p I found none.

%p I did, however, find evidence that eight types of updates are possible:

%img(src='/lesson015/lesson015j1.png')
%hr/

%img(src='/lesson015/lesson015j2.png')
%hr/

%img(src='/lesson015/lesson015j3.png')
%hr/

%img(src='/lesson015/lesson015j4.png')
%hr/

%img(src='/lesson015/lesson015j5.png')
%hr/

%img(src='/lesson015/lesson015j6.png')
%hr/

%img(src='/lesson015/lesson015j7.png')
%hr/

%img(src='/lesson015/lesson015j8.png')
%hr/

%p Next, I clicked the link listed below:
%p sheets.spreadsheets.batchUpdate

%p I saw this:

%img(src='/lesson015/lesson015k.png')
%hr/

%p I studied information at the URLs listed below:

%p
  %a(target='g' href='https://developers.google.com/sheets/api/reference/rest/')
    https://developers.google.com/sheets/api/reference/rest/
%p
  %a(target='g' href='https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets/batchUpdate')
    https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets/batchUpdate

%p According to the above URL, a valid request body can have these keys:

%ul
  %li requests
  %li includeSpreadsheetInResponse
  %li responseRanges
  %li responseIncludeGridData

%p I filled out the form to the best of my ability:

%img(src='/lesson015/lesson015l.png')
%hr/

%p I clicked the blue-"Authorize and execute" button.

%p I saw this:

%img(src='/lesson015/lesson015m.png')
%hr/

%p After a bit of study I learned that I needed to add a "request" using the text-area named "Request body".

%p Using some trial-error, I was able to create a request using JavaScript helpers watching the text-area:

%img(src='/lesson015/lesson015n.png')
%hr/

%p After I clicked the blue-"Execute" button, the API server responded with a response I liked better:

%img(src='/lesson015/lesson015o.png')
%hr/

%p Notice that my request had added a new sheet to the spreadsheet.

%p I clicked on the URL for the spreadsheet and verified the new sheet, named hello, had been added at the bottom:

%img(src='/lesson015/lesson015p.png')
%hr/

%p At that point, I understood three interactions with the API Explorer for Google-sheets:
%ul
  %li How to Create a spreadsheet
  %li How to List a spreadsheet
  %li How to Update a spreadsheet
  
%p I still wanted to learn about these interactions:
%ul
  %li How to Copy a spreadsheet
  %li How to Delete a spreadsheet

%p Additionally I wanted to learn about:
%ul
  %li Create
  %li Copy
  %li List
  %li Update
  %li Delete

%p Against, sheets, rows, columns, cells, data connections and permissions.

%p I returned to the URL listed below:
%p
  %a(target='g' href='https://developers.google.com/apis-explorer/#p/sheets/v4/')
    https://developers.google.com/apis-explorer/#p/sheets/v4/

%p I looked for a call which I could use to copy a spreadsheet.

%p I found none, but I did find a call to copy a sheet from one spreadsheet to another:

%img(src='/lesson015/lesson015q.png')
%hr/

%p I clicked the copy-call-link and Google served me a form:

%img(src='/lesson015/lesson015r.png')
%hr/

%p I filled out the form to the best of my ability:

%img(src='/lesson015/lesson015s.png')
%hr/

%p I clicked the blue-"Authorize and execute" button.

%p I saw this:

%img(src='/lesson015/lesson015t.png')
%hr/

%p After I saw the above error, I assumed that I encountered a lone-broken server in Google's vast network.

%p Then, I asked a question:

%p Does Google only support copying a sheet between two DIFFERENT spreadsheets?

%p To work towards an answer, I created a second spreadsheet via the form at this URL:

%p
  %a(target='g' href='https://developers.google.com/apis-explorer/#p/sheets/v4/sheets.spreadsheets.create')
    https://developers.google.com/apis-explorer/#p/sheets/v4/sheets.spreadsheets.create

%img(src='/lesson015/lesson015u.png')
%hr/

%img(src='/lesson015/lesson015v.png')
%hr/

%p The above page served me an ID for my new spreadsheet so I captured it with my mouse:
%p 1NGdJCr9KLoB_R80VV1cd3St5_44yDdul9RQ-HqGAecM

%p I returned to the copy-call-link and Google served me a form:

%img(src='/lesson015/lesson015r.png')
%hr/

%p I filled out the form to the best of my ability:

%img(src='/lesson015/lesson015w.png')
%hr/

%p I clicked the blue-"Authorize and execute" button.

%p I saw this:

%img(src='/lesson015/lesson015x.png')
%hr/

%p The above error convinced me to avoid trying to copy a sheet between spreadsheets.

%p That fundamental operation appeared to be broken.

%p At that point, I understood four interactions with the API Explorer for Google-sheets:
%ul
  %li How to Create a spreadsheet
  %li How to List a spreadsheet
  %li How to Update a spreadsheet
  %li How to copy a sheet between spreadsheets (which was broken)
  
%p I still wanted to learn about this action: How to delete a spreadsheet.

%p I returned to the URL listed below:
%p
  %a(target='g' href='https://developers.google.com/apis-explorer/#p/sheets/v4/')
    https://developers.google.com/apis-explorer/#p/sheets/v4/

%p I looked for a call which I could use to delete a spreadsheet.

%p After careful study of that page, I found no evidence that I could use the API to delete a spreadsheet.

%p Based on that, I formed the opinion that the API only supported these fundamental spreadsheet actions:

%ul
  %li Create
  %li List
  %li Update

%p I learned what I could from the API Explorer.

%p At that point I felt I needed more help to become productive with Google-Sheets-API.

%p I studied content which teaches the Google-Sheets-API via Python scripts:

%p
  %a(target='g' href='https://developers.google.com/sheets/api/quickstart/python')
    https://developers.google.com/sheets/api/quickstart/python
%p On my Linux laptop I installed Python 3.

%p After installation I made note of the banner:

.syntax
  %pre
    =render 'lesson015z10'

%p Then, I ran shell commands to install pip3 and Python modules:

.syntax
  %pre
    %code.bash
      sudo apt install python3-pip
      sudo pip3 install --upgrade google-api-python-client
      sudo pip3 install --upgrade google-auth-httplib2
      sudo pip3 install --upgrade google-auth-oauthlib

%p Next, I visited the URL listed below:

%p
  %a(target='g' href='https://console.cloud.google.com/apis/api/sheets.googleapis.com/overview')
    https://console.cloud.google.com/apis/api/sheets.googleapis.com/overview

%p I saw this:

%img(src='/lesson015/lesson015z11.png')
%hr/
