<!DOCTYPE html>
<html>
  <head>
    <title>cs101.us</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" media="all" href="/site.css" />
  </head>

  <body>
    <%= render 'layouts/body_table' %>
  </body>
</html>
